<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Docs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/main.css">

</head>
<body>
<div class="container">
    <form  id="uploadFiles" name="uploadFiles"  th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">
        <h4>Upload file</h4>
        <div>
            <label >Select file</label>
            <div>
                <input type="file" class="form-control"  name="file">
                <button type="submit">Upload</button>
            </div>
        </div>

    </form>
</div>

<div>
    <h3>List of documents</h3>
    <table>
        <thead>
        <th>id</th>
        <th>name</th>
        <th>Download link</th>
        </thead>
        <tbody>
            <tr th:each="doc:${docs}">
                <td th:text="${doc.id}"></td>
                <td th:text="${doc.docName}"></td>
                <td><a th:href="@{'/downloadFiles/' + ${doc.id}}">Download link</a></td>
            </tr>


        </tbody>
    </table>


</div>

</body>
</html>